esxi:
  hostname: "192.168.1.31"    # ESXiのIPアドレス
  username: "root"            # ESXiのログインユーザ
  password: "Passw0rd!"       # ログインパスワード("prompt:" as manual ops)
  hostport: 22                # ESXiのsshログインポート

  diskstore: "datastore1"     # location of clone image
