esxi:
  hostname: "$esxi"           # ESXi hostname or IP addr
  username: "root"            # ESXi login user
  password: "prompt:"         # ESXi login password("prompt:" as manual ops)
  hostport: 22                # ESXi ssh port

  diskstore: "datastore1"     # datastore to store template

