# -*- mode: ruby -*-
# vi: set ft=ruby :
#
# Vagrant file for generic/centos8 
#
require 'yaml'
settings = YAML.load_file('config.yml')

$script = <<SCRIPT
curl -L https://goo.gl/TvhDAq > /home/vagrant/.ssh/authorized_keys 2>/dev/null
chmod 700 /home/vagrant/.ssh
chmod 600 /home/vagrant/.ssh/authorized_keys
chown -R vagrant:vagrant /home/vagrant
SCRIPT

Vagrant.configure("2") do |config|
  config.vm.box = '$basebox'
  config.vm.define '$clonebox'

  config.vm.box_check_update = true
  config.ssh.forward_agent = true

  config.vm.synced_folder('.', '/vagrant', type: 'nfs', disabled: true)
  config.vm.synced_folder('.', '/vagrantfiles', type: 'rsync', disabled: true)

  config.vm.provision "shell", inline: $script

  config.vm.provider :vmware_esxi do |esxi|
    esxi.esxi_hostname = settings['esxi']['hostname']
    esxi.esxi_username = settings['esxi']['username']
    esxi.esxi_password = settings['esxi']['password']
    esxi.esxi_hostport = settings['esxi']['hostport']
    esxi.esxi_disk_store = settings['esxi']['diskstore']
    esxi.esxi_virtual_network = ["VM Network"]
    esxi.guest_name = "$clonebox"
    esxi.guest_memsize = "1024"
    esxi.guest_numvcpus = "1"
    esxi.local_allow_overwrite = 'True'
  end
end

